#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T                               &kp Y  &kp U  &kp I      &kp O       &kp P
&kp A  &kp S  &kp D  &kp F  &kp G                               &kp H  &kp J  &kp K      &kp L       &kp SEMICOLON
&kp Z  &kp X  &kp C  &kp V  &kp B                               &kp N  &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
                            &none  &lt 1 SPACE    &lt 2 RETURN  &none
            >;
        };

        left-mod {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                    &kp NUMBER_6  &kp N7  &kp N8  &kp N9  &kp N0
&trans        &trans        &trans        &trans        &trans                    &trans        &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans                    &trans        &trans  &trans  &trans  &trans
                                                        &trans  &trans    &trans  &trans
            >;
        };

        right_mod {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
                                &trans  &trans    &trans  &trans
            >;
        };
    };
};
