#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        td_qst_mark: td_qst_mark {
            compatible = "zmk,behavior-tap-dance";
            label = "QuestionMarks";
            #binding-cells = <0>;
            bindings = <&kp LS(MINUS)>, <&kp LS(EQUAL)>;

            tapping-term-ms = <250>;
        };

        td_two_symbols: td_two_symbols {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_TWO_SYMBOLS";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_2)>, <&kp RA(NUMBER_2)>;

            tapping-term-ms = <250>;
        };

        td_one_symbols: td_one_symbols {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ONE_SYMBOLS";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_1)>, <&kp RA(NUMBER_1)>;

            tapping-term-ms = <250>;
        };

        td_three_symbols: td_three_symbols {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_THREE_SYMBOLS";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_3)>, <&kp RA(NUMBER_3)>;
        };

        td_four_symbols: td_four_symbols {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_FOUR_SYMBOLS";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_4)>, <&kp RA(NUMBER_4)>;

            tapping-term-ms = <250>;
        };

        td_five_symbols: td_five_symbols {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_FIVE_SYMBOLS";
            #binding-cells = <0>;
            bindings = <&kp N5>, <&kp LS(N5)>;

            tapping-term-ms = <250>;
        };

        td_six_symbols: td_six_symbols {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SIX_SYMBOLS";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_6)>, <&kp RA(NUMBER_6)>;

            tapping-term-ms = <250>;
        };

        td_seven_symbols: td_seven_symbols {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SEVEN_SYMBOLS";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&kp LS(N7)>;

            tapping-term-ms = <250>;
        };

        td_eight_symbols: td_eight_symbols {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_EIGHT_SYMBOLS";
            #binding-cells = <0>;
            bindings = <&kp N8>, <&kp LS(N8)>;

            tapping-term-ms = <250>;
        };

        td_nine_symbols: td_nine_symbols {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_NINE_SYMBOLS";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&kp LS(N9)>;

            tapping-term-ms = <250>;
        };

        td_zero_symbols: td_zero_symbols {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ZERO_SYMBOLS";
            #binding-cells = <0>;
            bindings = <&kp N0>, <&kp LS(N0)>;

            tapping-term-ms = <250>;
        };

        td_acentos: td_acentos {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ACENTOS";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp LEFT_BRACKET>;

            tapping-term-ms = <250>;
        };

        td_dash: td_dash {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_DASH";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp LS(SLASH)>;

            tapping-term-ms = <250>;
        };

        td_enter_lftcontrol: td_enter_lftcontrol {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ENTER_LFTCONTROL";
            #binding-cells = <0>;
            bindings = <&kp ENTER>, <&kp LEFT_CONTROL>;

            tapping-term-ms = <250>;
        };
    };

    combos {
        compatible = "zmk,combos";

        QWE_Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1 2>;
        };

        IOP_Windows {
            bindings = <&kp LEFT_WIN>;
            key-positions = <8 7>;
        };

        qwe-tab {
            bindings = <&kp TAB>;
            key-positions = <3 4>;
        };

        ji_control {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <16 7>;
        };

        hu_alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <15 6>;
        };

        gr_tab {
            bindings = <&kp TAB>;
            key-positions = <3 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";
            bindings = <
&kp Q  &kp W  &kp E             &kp R  &kp T                                     &kp Y            &kp U  &kp I             &kp O       &kp P
&kp A  &kp S  &mt LEFT_SHIFT D  &kp F  &kp G                                     &kp H            &kp J  &mt LEFT_SHIFT K  &kp L       &kp SEMICOLON
&kp Z  &kp X  &kp C             &kp V  &kp B                                     &kp N            &kp M  &kp COMMA         &kp PERIOD  &td_dash
                                       &mo 1  &kp SPACE    &td_enter_lftcontrol  &lt 2 BACKSPACE
            >;
        };

        left-mod {
            bindings = <
&kp LA(TAB)  &none           &kp UP_ARROW    &none            &none                     &kp N7           &kp N8        &kp N9        &kp N0  &kp DELETE
&trans       &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none                     &kp NUMBER_4     &kp N5        &kp NUMBER_6  &trans  &trans
&trans       &trans          &trans          &trans           &trans                    &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
                                                              &trans  &trans    &trans  &lt 3 BACKSPACE
            >;
        };

        right_mod {
            bindings = <
&td_one_symbols  &td_two_symbols  &td_three_symbols  &td_four_symbols  &td_five_symbols                    &td_six_symbols  &td_seven_symbols  &td_eight_symbols  &td_nine_symbols  &td_zero_symbols
&trans           &trans           &trans             &trans            &trans                              &kp MINUS        &trans             &kp RA(NUMBER_2)   &td_acentos       &kp SINGLE_QUOTE
&trans           &trans           &trans             &trans            &trans                              &td_qst_mark     &none              &trans             &trans            &trans
                                                                       &mo 3             &trans    &trans  &trans
            >;
        };

        combo_layer {
            bindings = <
&none   &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &tog 4                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
                                &trans  &trans    &trans  &mo 3
            >;
        };

        gaming {
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T                                     &kp Y            &kp U  &kp I      &kp O       &kp P
&kp A  &kp S  &kp D  &kp F  &kp G                                     &kp H            &kp J  &kp K      &kp L       &kp SEMICOLON
&kp Z  &kp X  &kp C  &kp V  &kp B                                     &kp N            &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
                            &kp LEFT_CONTROL  &kp SPACE    &kp ENTER  &lt 5 BACKSPACE
            >;
        };

        gamingchangelayer {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &to 0                     &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
                                &trans  &trans    &trans  &trans
            >;
        };
    };
};
